<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <script src="/scripts/lib/jquery-2.1.4.min.js"></script>
	<script data-main="/scripts/main.js" language="javascript" src="/scripts/lib/require.js"></script>
    <script>
        require.config({
            paths: {
                'baseUrl': '/public/scripts',
                'underscore': '/scripts/lib/underscore-min',
                'jquery': '/scripts/lib/jquery-2.1.4.min'
            },
            "packages": [
                {
                }
            ]          
        });
    </script>	
  </head>
  <body>  	
  	<div id="main-container">
	  	<div id="player-area">
			<div id="player"></div>
		</div>
		<div id="comment-area">
			<input type="button" value="COMMENT" id="comment-button"/>
			<div id="feed-area">	
				<ul id="feed-list">
				</ul>	
			</div>
			<div id="comment-fields">		
				<input type="text" id="comment-text"/>
				<input type="button" id="add-comment-button" value="comment"/>
			</div>
		</div>
	</div>
  </body>
</html>